{% extends 'main/layouts/layout.html' %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
        <h1 class="text-2xl font-semibold mb-4">Register</h1>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-gray-600">Username</label>
                {{ form.username }}
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-600">E-mail</label>
                {{ form.email }}
            </div>
            <div class="mb-4">
                <label for="name" class="block text-gray-600">Name</label>
                {{ form.name }}
            </div>
            <div class="mb-4">
                <label for="surname" class="block text-gray-600">Surname</label>
                {{ form.surname }}
            </div>
            <div class="mb-4">
                <label for="password1" class="block text-gray-600">Password</label>
                {{ form.password1 }}
            </div>
            <div class="mb-4">
                <label for="password1" class="block text-gray-600">Confirm password</label>
                {{ form.password2 }}
            </div>
            <button type="submit"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full">Register
            </button>
        </form>
        <div class="mt-6 text-center">
            Already have an account? <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Login in here</a>
        </div>
    </div>
{% endblock %}
