{% extends 'panel/layouts/layout.html' %}
{% load static %}

{% block title %}Group Instructor{% endblock %}

{% block content %}
    <div class="container overflow-x-auto overflow-y-auto mx-auto px-4">
        <h1 class="text-2xl font-bold my-4">Group {{ group.name }} - Instructor View</h1>
        {% include "panel/groups/components/group_header.html" with group=group view_type="instructor" %}

        <!-- Group Messages Section -->
        <div class="bg-white shadow-md rounded p-6 mb-6">
            <h2 class="text-xl font-bold mb-4">Group Messages</h2>
            <div>
                {% for message in group.messages.all %}
                    <div class="bg-gray-100 rounded p-4 mb-4">
                        <h3 class="text-lg font-bold">{{ message.title }}</h3>
                        <p>{{ message.content }}</p>
                        {% if message.image %}
                            <img src="{{ message.image.url }}" alt="{{ message.title }}" class="mt-4 rounded">
                        {% endif %}
                        <p class="text-sm text-gray-600 mt-2">Posted by {{ message.user.username }}
                            on {{ message.created_at }}</p>
                    </div>
                {% endfor %}
            </div>
            <form action="{% url 'create_group_message' group.id %}" method="post" enctype="multipart/form-data"
                  class="mt-4 p-4 bg-gray-50 rounded shadow-sm">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="id_title" class="block text-gray-700 text-sm font-bold mb-1">Title</label>
                    <input type="text" name="title" id="id_title"
                           class="shadow appearance-none border rounded w-full py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           placeholder="Message Title">
                </div>
                <div class="mb-2">
                    <label for="id_content" class="block text-gray-700 text-sm font-bold mb-1">Content</label>
                    <textarea name="content" id="id_content"
                              class="shadow appearance-none border rounded w-full py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              placeholder="Message Content" rows="2"></textarea>
                </div>
                <div class="mb-2">
                    <label for="id_image" class="block text-gray-700 text-sm font-bold mb-1">Image</label>
                    <input type="file" name="image" id="id_image"
                           class="shadow appearance-none border rounded w-full py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded focus:outline-none focus:shadow-outline">
                    Add Message
                </button>
            </form>
        </div>

        <!-- Group Tasks Section -->
        <div class="bg-white shadow-md rounded p-6 mb-6">
            <h2 class="text-xl font-bold mb-4">Group Tasks</h2>
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white">
                    <thead>
                    <tr>
                        <th class="py-2 px-4 border-b-2 border-gray-200 text-left text-xs font-medium text-gray-700 leading-4 tracking-wider">
                            Title
                        </th>
                        <th class="py-2 px-4 border-b-2 border-gray-200 text-left text-xs font-medium text-gray-700 leading-4 tracking-wider">
                            Description
                        </th>
                        <th class="py-2 px-4 border-b-2 border-gray-200 text-left text-xs font-medium text-gray-700 leading-4 tracking-wider">
                            Max Attempts
                        </th>
                        <th class="py-2 px-4 border-b-2 border-gray-200 text-left text-xs font-medium text-gray-700 leading-4 tracking-wider">
                            End Date
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in group.tasks.all %}
                        <tr class="hover:bg-gray-100 cursor-pointer"
                            onclick="window.location.href='{% url 'submit_solution' task.id %}'">
                            <td class="py-2 px-4 border-b border-gray-200 text-sm font-normal">{{ task.title }}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-sm font-normal">{{ task.description|truncatewords:20 }}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-sm font-normal">{{ task.max_attempts }}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-sm font-normal">{{ task.end_date }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="py-2 px-4 border-b border-gray-200 text-center text-sm font-normal">
                                No tasks available.
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Group Members Section -->
        <div class="bg-white shadow-md rounded p-6 mb-6">
            <h2 class="text-xl font-bold mb-4">Group Members</h2>
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white">
                    <thead>
                    <tr>
                        <th class="py-2 px-4 border-b-2 border-gray-200 text-left text-xs font-medium text-gray-700 leading-4 tracking-wider">
                            Full Name
                        </th>
                        <th class="py-2 px-4 border-b-2 border-gray-200 text-left text-xs font-medium text-gray-700 leading-4 tracking-wider">
                            Username
                        </th>
                        <th class="py-2 px-4 border-b-2 border-gray-200 text-left text-xs font-medium text-gray-700 leading-4 tracking-wider">
                            Email
                        </th>
                        <th class="py-2 px-4 border-b-2 border-gray-200 text-left text-xs font-medium text-gray-700 leading-4 tracking-wider">
                            Role
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in group.memberships.all %}
                        <tr class="hover:bg-gray-100">
                            <td class="py-2 px-4 border-b border-gray-200 text-sm font-normal">{{ member.user.first_name }} {{ member.user.last_name }}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-sm font-normal">{{ member.user.username }}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-sm font-normal">{{ member.user.email }}</td>
                            <td class="py-2 px-4 border-b border-gray-200 text-sm font-normal">{{ member.role }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="py-2 px-4 border-b border-gray-200 text-center text-sm font-normal">
                                No members available.
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Group Actions Section -->
        <div class="bg-white shadow-md rounded p-6 mb-6">
            <h2 class="text-xl font-bold mb-4">Actions</h2>
            <form action="{% url 'quit_group' group.id %}" method="post">
                {% csrf_token %}
                <button type="submit"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Quit Group
                </button>
            </form>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Initialize ACE editor for task form
                const functionStarterEditor = ace.edit("functionStarterEditor");
                functionStarterEditor.setTheme("ace/theme/monokai");
                functionStarterEditor.session.setMode("ace/mode/python");
                functionStarterEditor.setValue(document.getElementById('functionStarterTextarea').value, -1);
                functionStarterEditor.session.on('change', function () {
                    document.getElementById('functionStarterTextarea').value = functionStarterEditor.getValue();
                });

                // Initialize ACE editor for test case input data
                const inputDataEditor = ace.edit("inputDataEditor");
                inputDataEditor.setTheme("ace/theme/monokai");
                inputDataEditor.session.setMode("ace/mode/python");
                inputDataEditor.setValue(document.getElementById('inputDataTextarea').value, -1);
                inputDataEditor.session.on('change', function () {
                    document.getElementById('inputDataTextarea').value = inputDataEditor.getValue();
                });

                // Initialize ACE editor for test case expected output
                const expectedOutputEditor = ace.edit("expectedOutputEditor");
                expectedOutputEditor.setTheme("ace/theme/monokai");
                expectedOutputEditor.session.setMode("ace/mode/python");
                expectedOutputEditor.setValue(document.getElementById('expectedOutputTextarea').value, -1);
                expectedOutputEditor.session.on('change', function () {
                    document.getElementById('expectedOutputTextarea').value = expectedOutputEditor.getValue();
                });
            });
        </script>
    </div>
{% endblock %}
