<div id="info-container" class="absolute bottom-5 left-5 max-w-4xl mx-auto fade-out">
    <div class="bg-green-50 border-l-8 border-green-500">
        <div class="flex items-center">
            <div class="p-2">
                <div class="flex items-center">
                    <div class="ml-2">
                        <svg onclick="hideContainer()" class="h-8 w-8 text-green-500 mr-2 cursor-pointer"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                    </div>
                    <p class="px-6 py-4 text-green-900 font-semibold text-lg">{{ message }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function hideContainer() {
        document.getElementById('info-container').classList.add('invisible');
    }
</script>